.album-item{
	width: 15em;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
   color: white;
}
.black   { background-color: #272a2d; }
.black select   { color: #fff; }

.album-top{
	background: -webkit-linear-gradient(top, #6b6969, #272a2d);
	padding-top: 10%;
	padding-left: 5%;
	color: white;
}

.hover-control
  {
  position: relative;
  /*text-align: center;*/
  float: left;
  }
  .hover-buttons
  {
  left:0;
  position: absolute;
  top: 50%;
  width: 100%;
  }
  .info-image
  {
  opacity: 1;
  display:block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  ul.left_sizebar li
  {
  display:inline;
  margin-left: 10%;
  font-size: 16px;
  }
  /* for the close button in input type search */
  input[type="search"]::-webkit-search-cancel-button
  {
  -webkit-appearance: searchfield-cancel-button;
  }
  #search_span
  {
  background-color: #343a40;
  color: white;
  border: none;
  color: #cccccc;
  }
  #filter_keyword
  {
  background-color: #343a40;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;border:none;
  color: #cccccc;
  }
  #filter_container
  {
  margin-top: 3%;
  }