input[type="search"]::-webkit-search-cancel-button
{
  -webkit-appearance: searchfield-cancel-button;
}

#search_span
{
  background-color: #343a40;
  color: white;
  border: none;
  color: #cccccc;
}

#filter_keyword
{
  width: 90%;
  font-size: 16px;
   background-color: #343a40;
   border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;border:none;
	color: #cccccc;
}

#filter_container
{
  margin-top: 3%;

}

.formButton
{
	display:block;
	border-radius: 10px;
	color:white;
	width: 90px;
	background-color:#00cc00;
}
.song_action_list
{
  background-color: gray;
  margin-left: 5%;
}
.playlist_action_dropdown
{
  font-size: 10px;
}

.playlist_action_list
{
  max-height:350px;
  overflow:scroll;
}

#filter_and_download .download_right
{
	float: right;
} 
#filter_and_download .filter_left
{
	float: left;
} 
