.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
   color: white;
}
.black   { background-color: #272a2d; }
.black select   { color: #fff; }